In [4]:
import pandas as pd

In [2]:
file_path = '../data/Cuernavaca_1dia_comas.csv'
cuerna = pd.read_csv(
    file_path,
    index_col=0,
    parse_dates=True
)

cuerna.head()

                       To   Ws  Wd      P  Ig  Ib  Id
tiempo
2012-01-01 00:00:00  19.3  0.0  26  87415   0   0    0
2012-01-01 01:00:00  18.6  0.0  26  87602   0   0    0
2012-01-01 02:00:00  17.9  0.0  30  87788   0   0    0
2012-01-01 03:00:00  17.3  0.0  30  87554   0   0    0
2012-01-01 04:00:00  16.6  0.0  27  87321   0   0    0

In [3]:
type(cuerna.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [6]:
type(pd.to_datetime("2023-01-01"))

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
type(pd.to_datetime("2023-01-01"))

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
pd.to_datetime("2023-01-01") + pd.DateOffset(years=2)

Timestamp('2025-01-01 00:00:00')

In [13]:
pd.Period("2023-01", freq="D", month=2)

Period('2023-01-01', 'D')

In [ ]:
#obtengo la diferencia entre dos fechas con un TimeDelta
pd.to_datetime("2023-01-01") - pd.to_datetime("2023-01-02")

Timedelta('-1 days +00:00:00')

In [5]:
pd.to_datetime("2023-01-01") + pd.Timedelta("1D12h30min")

Timestamp('2023-01-02 12:30:00')