In [1]:
import pandas as pd

In [ ]:
file_path = '../data/Cuernavaca_To_1dia_comas.csv'
cuerna = pd.read_csv(file_path,index_col=0, parse_dates=True)
cuerna.head()

                tiempo    To
0  2012-01-01 00:00:00  19.3
1  2012-01-01 01:00:00  18.6
2  2012-01-01 02:00:00  17.9
3  2012-01-01 03:00:00  17.3
4  2012-01-01 04:00:00  16.6