In [5]:
import pandas as pd

In [10]:
file_path = '../data/Cuernavaca_To_1dia_comas.xlsx'
cuerna = pd.read_excel(file_path, index_col=0)
cuerna.head()

                       To
tiempo
2012-01-01 00:00:00  19.3
2012-01-01 01:00:00  18.6
2012-01-01 02:00:00  17.9
2012-01-01 03:00:00  17.3
2012-01-01 04:00:00  16.6